<div [ngClass]="setClasses()">
  <ul>
    <li class='username'>{{user.firstName}} {{user.lastName}}</li>
    <li class='login'>{{user.login}}</li>
    <li>
      <a mat-button [routerLink]="['/users', user.login ]">View details</a>
    </li>
    <li>
        <a mat-button [routerLink]="['/edit', user.login ]">Edit</a>
    </li>
    <li (click)="onDelete(user.login)"><button mat-flat-button color="warn">Delete</button></li>
    <li (click)="toggleActivated(user)">{{ user.activated | userActivated }} </li>
  </ul>
</div>
