ul{
  display: flex;
  flex-direction: row;
  background: #f4f4f4;
}

li{
  width: 15%;
  list-style: none;
}

li.username{
  width: 25%;
}

.user{
  background: #ffffff;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}


.is-completed{
  text-decoration: line-through;
}
