<div class="users container">
  <div class="nav-box">
    <mat-form-field>
      <input matInput [(ngModel)]="filterText" placeholder="Search" />
      <button
        mat-button
        *ngIf="filterText"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="filterText = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button class="add-user-btn" color="primary">
      <a
        mat-list-item
        [routerLink]="['/user/post']"
        routerLinkActive="router-link-active"
        >Add user</a
      >
    </button>
  </div>
  <table>
    <tr>
      <th>Login</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Status</th>
      <th>Authorities</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let user of (users | userFilter: filterText)">
      <td>{{ user.login }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td class='center'>
        <mat-checkbox
          class="example-margin"
          color="primary"
          [ngModel]="user.activated"
          (change)="toggleActivated(user)"
          >Activated</mat-checkbox
        >
      </td>
      <td>{{ user.authorities }}</td>
      <td class='center'>
        <a [routerLink]="['/users', user.login]">
          <mat-icon class="delete-icon">remove_red_eye</mat-icon>
        </a>
      </td>
      <td class='center'>
        <a [routerLink]="['/users/edit', user.login]">
          <mat-icon class="delete-icon">edit</mat-icon>
        </a>
      </td>
      <td class='center'>
        <mat-icon
          color="warn"
          class="delete-icon"
          (click)="onDelete(user.login)"
          >delete</mat-icon
        >
      </td>
    </tr>
  </table>
</div>
