<div class="users">
  <div class="nav-box">
    <mat-form-field>
      <input matInput [(ngModel)]="filterText" placeholder="Search" />
      <button mat-button *ngIf="filterText" matSuffix mat-icon-button aria-label="Clear" (click)="filterText=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button class='add-user-btn' color="primary">
      <a mat-list-item [routerLink]="['/post']" routerLinkActive="router-link-active" >Add user</a>
    </button>
  </div>
  <table>
    <tr>
      <th>Login</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Status</th>
      <th>Authorities</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let user of (users | userFilter: filterText)">
      <td>{{ user.login }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>
        <mat-checkbox class="example-margin" color="primary" [ngModel]="user.activated" (change)="toggleActivated(user)"
          >Activated</mat-checkbox
        >
      </td>
      <td>{{ user.authorities }}</td>
      <td>
        <a mat-button [routerLink]="['/users', user.login]">View details</a>
      </td>
      <td><a mat-button [routerLink]="['/edit', user.login]">Edit</a></td>
      <td>
        <button mat-flat-button color="warn" (click)="onDelete(user.login)">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
